<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet"  href="/style.css">
</head>
<body>
	<%- include('components/navbar')%>
	<h1>Buku Cerita Dongeng Anak : Mencari Manusia Berhati Baik</h1>
	<p>Suatu hari, dewa turun ke bumi. Ia ingin mencari manusia yang tulus hatinya. Dewa itu akan membantu manusia yang tulus hatinya agar menjadi dewa juga seperti dirinya.

Tibalah ia di salah satu perkampungan penduduk. Rupanya, mencari manusia yang tulus hatinya tak seperti yang ia bayangkan. Sangat sulit. Manusia-manusia sudah banyak yang tak baik. Dewa itu menemui salah satu pemuda, dan menawarkan beberapa keping emas.

“Wah, aku suka sekali emas, terima kasih,” ucap pemuda yang ditemuinya.

Dewa itu sangat kecewa, karena beberapa manusia yang ditemuinya serakah. Kemudian ia pergi ke salah satu bukit. Ia ingin mencari lagi sampai menemukan orang yang benar-benar ingin menjadi Dewa.

</p>
<p>Dewa bertemu dengan seorang kakek.Tapi rupanya kakek itu pun sama raja. Saat menerima emas dari dewa, ia malah menginginkan emas yang lebih besar lagi. Dewa pun langsung pergi meninggalkannya.

“Sulit sekali mencari manusia yang tak serakah.” ucap dewa. Ia kembali berjalan. Dalam perjalanan, ia bertemu dengan orang setengah baya.

“Sepertinya ini orang yang aku cari,” gumam dewa. Dewa lalu mendekati orang tersebut.

“Hei, apakah kau mau jika batu ini aku jadikan emas untukmu?” tanya dewa.

“Tidak,” kata orang itu.

Dewa merasa senang dengan jawaban orang tersebut. Ia lalu menawarkan batu yang lebih besar lagi untuk dijadikan emas.

“Bagaimana kalau batu yang lebih besar ini yang kujadikan emas untukmu?” tanya dewa.

“Aku tidak mau,” jawabnya lagi.

“Lalu apa yang kau mau?” dewa bertanya dengan senang karena merasa berhasil menemukan manusia yang tak serakah.

“Aku menginginkan jarimu. Agar aku bisa mengubah apa pun menjadi emas. Lalu, hidupku takkan kekurangan apa pun,” ucap orang tersebut.

Mendengar jawaban itu, dewa sangat kecewa. Rupanya mencari manusia berhati tulus memang benar-benar sulit.Tadinya ia yakin orang yang ia temui tadi tidak termasuk manusia serakah. Tetapi, rupanya orang itu justru Iebih serakah daripada manusia umumnya.</p>
	<footer>
		<p>&copy; 2020 kelas.UtinChindySelvira</p>
	</footer>
</body>
</html>