<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet"  href="/style.css">
</head>
<body>
	<%- include('components/navbar')%>
	<h1>Utin Chindy Selvira <%= kelas.nama%>!</h1>
	<footer>
		<p>&copy; 2020 kelas.UtinChindySelvira</p>
	</footer>
</body>
</html>

